.texnobanner {
    padding-top: 50px;
    @media (max-width: 550px) {
        padding-top: 30px;
    }
    .texnoname {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 50px;
        h1 {
            font-size: 30px;
            @media (max-width: 550px) {
                font-size: 20px;
            }
        }
    }
    .texno {
        .te {
            width: 100%;
            height: 100%;
            cursor: pointer;
            transition: 0.3s;
        }
        .te img {
            display: block;
            width:  100%;
            height: 100%;
            object-fit: cover;
        }
        .te:hover {
            transform: scale(1.01);
        }
    }
    
    .texnoproducts {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 20px;
        margin-top: 50px;
        @media (max-width: 1250px) {
            overflow-x: scroll;
        }
        .teproduct img {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 10px;
            transition: 0.3s;
            @media (max-width: 650px) {
                width: 80%;
                height: auto;
            }
            @media (max-width: 380px) {
                width: 60%;
                height: auto;
            }
        }
        .teproduct img:hover  {
            transform: scale(1.02);
        }
        .teproduct {
            width: 225px;
            height: 450px;
            border-radius: 10px;
            cursor: pointer;
            h1 {
                text-align: start;
                padding-top: 15px;
                font-size: 15px;
            }
            .pd1 {
                display: flex;
                align-items: center;
                margin-top: 5px;
                gap: 5px;
                p {
                    background: none;
                    margin-bottom: 10px;
                    width: 100px;
                }
                img {
                    width: 15px;
                    height: 15px;
                }
            }
            p {
                width: 125px;
                background-color: 
                #FFFF00;
                padding: 2px;
                border-radius: 5px;
                margin-top: 10px;
                white-space: nowrap;
            }
            .pd2 {
                display: flex;
                align-items: center;
                gap: 100px;
                @media (max-width: 430px) {
                    gap: 50px;
                }
                img {
                    width: 40px;
                    height: 40px;
                    transition: 0.3s;
                    @media (max-width: 380px) {
                        width: 30px;
                        height: 30px;
                    }
                }
                img:hover {
                    transform: scale(1.1);
                }
                h1 {
                    font-size: 17px;
                    white-space: nowrap;
                }
            }

        }
    }
}